@import (reference) "config.less";
html, body {
	height: 100%;
}
body {
	background-color: darken(@white, 4.7%);
	.basefont;
}

a,
input,
textarea,
.button {
	.transition;
}

a {
	text-decoration: none;
	&:hover {
		outline: 0;
	}
}
h3 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 600;
}
.page {
	min-height: 100%;
	margin-bottom: -40px;
}
.intro {
	.border-radius(4px);
	padding: 15px;
	background: @intro;
	.table-cell {
		padding: 0 15px;
	}
	.red-button:hover {
		.blue-button;
	}
}
.footer {
	height: 40px;
	position: relative;
	z-index: 10;
	background: @blue;
}
.copyright {
	
}
.hFooter {
	clear: both;
	height: 40px;
}
