<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Modus versus - main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>

<body>
    <div class="page">
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a class="logo" href="/" title="Main page">Modus <span>versus</span></a>
                    </div>
                    <div class="col-md-9">
                        <nav class="navbar text-right">
                            <button class="collapse navbar-toggler" type="button" data-target="#navbarResponsive"></button>
                            <div class="collapse navbar-toggleable-md" id="navbarResponsive">
                                <ul class="nav">
                                    <li class="nav-item nav-item--active">
                                        <a class="nav-link" href="#" title="Home">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" title="About">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" title="Services">Services</a>
                                    </li>
                                    <li class="nav-item nav-item-dropdown">
                                        <a class="nav-link" href="#" title="Portfolio">Portfolio</a>
                                        <div class="nav-item-dropdown__container">
                                            <ul>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#" title="Portfolio 1 column page">Portfolio 1 column page</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#" title="Portfolio 2 column page">Portfolio 2 column page</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#" title="Portfolio 3 column page">Portfolio 3 column page</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" title="Blog">Blog</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" title="Features">Features</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" title="Contacts">Contacts</a>
                                    </li>
                                    <li class="nav-item">
                                        <form method="post" class="searchform" action="#">
                                            <div class="searchform-input-text">
                                                <input placeholder="search..." type="text" name="q" maxlength="30" size="20">
                                            </div>
                                            <div class="searchform-input-submit">
                                                <input type="submit" name="submit" value="">
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <section>
            <ul class="slider">
                <li>
                    <img src="img/slider/slide1.jpg" alt="slide1"/>
                    <div class="slidertext text-center">
                        <div class="slidertext-title">
                            <h1>VESTIBULUM</h1>
                        </div>
                        <p class="slidertext-description">Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.</p>
                    </div>
                </li>
                <li><img src="img/slider/slide2.jpg" alt="slide2"/></li>
                <li><img src="img/slider/slide3.jpg" alt="slide3"/></li>
            </ul>
        </section>
        <section>
            <div class="intro">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="intro-table table">
                                <div class="intro-table__column table-cell">
                                    <h3>Some of our top services</h3>
                                    <p>Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo. </p>
                                </div>
                                <div class="intro-table__column table-cell">
                                    <a class="red-button large-button" href="#services/all" title="View more">VIEW MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="services">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="service">
                                <i class="fa fa-thumbs-o-up service-icon"></i>
                                <h4 class="service-title">SUSPENDISSE</h4>
                                <p class="service-description"> Quisque id tellus quis risus vehicula vehicula ut turpis. In eros nulla, placerat vitae at, vehicula ut nunc. </p>
                                <a class="service-link blue-button large-button" href="#services/suspendisse" title="read more about suspendisse">read more</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service">
                                <i class="fa fa-key service-icon"></i>
                                <h4 class="service-title">MAECENAS</h4>
                                <p class="service-description">Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.</p>
                                <a class="service-link blue-button large-button" href="#services/maecenas" title="read more about maecenas">read more</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service">
                                <i class="fa fa-flag service-icon"></i>
                                <h4 class="service-title">ALIQUAM</h4>
                                <p class="service-description">Vivamus eget ante bibendum arcu vehicula ultricies. Integer venenatis mattis nisl, vitae pulvinar dui tempor non. </p>
                                <a class="service-link blue-button large-button" href="#services/aliquam" title="read more about aliquam">read more</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="service">
                                <i class="fa fa-flask service-icon"></i>
                                <h4 class="service-title">HABITASSE</h4>
                                <p class="service-description">Astehicula ultricies. Integer venenatis mattis nisl, vitae pulvinar dui tempor non.</p>
                                <a class="service-link blue-button large-button" href="#services/habitasse" title="read more about habitasse">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="about linear-white text-center">
                <div class="container">
                    <div class="row">
                        <h2 class="about-title">WHY MODUS VERSUS?</h2>
                        <p class="about-description">Capacitance cascading integer reflective interface data development high bus cache dithering transponder.</p>
                        <div class="about-cards">
                            <div class="maincard"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="advantages">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Why Choose Us ?</h5>
                            <ul class="arrowed-list">
                                <li class="arrowed-list-item">Quisque at massa ipsum</li>
                                <li class="arrowed-list-item">Maecenas a lorem augue, egestas</li>
                                <li class="arrowed-list-item">Cras vitae felis at lacus eleifend</li>
                                <li class="arrowed-list-item">Etiam auctor diam pellentesque</li>
                                <li class="arrowed-list-item">Nulla ac massa at dolor</li>
                                <li class="arrowed-list-item">Condimentum eleifend vitae vitae</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="skills">
                                <p>Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque lectus <a class="link" href="#" title="vehicula mattis">vehicula mattis</a>. Nulla ac massa at dolor condimentum eleifend vitae vitae urna.</p>
                            </div>
                            <div class="charts">
                                <div class="chart" data-percent="50">
                                    <span class="chart-percent"></span>
                                    <p class="h4 chart-title">SUSPENDISSE</p>
                                </div>
                                <div class="chart" data-percent="70">
                                    <span class="chart-percent"></span>
                                    <p class="h4 chart-title">MAECENAS</p>
                                </div>
                                <div class="chart" data-percent="80">
                                    <span class="chart-percent"></span>
                                    <p class="h4 chart-title">ALIQUAM</p>
                                </div>
                                <div class="chart" data-percent="100">
                                    <span class="chart-percent"></span>
                                    <p class="h4 chart-title">HABITASSE</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h5>What Client’s Say ?</h5>
                            <blockquote class="blockquote">
                                <p class="blockquote-text">
                                    <i>Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque lectus vehicula mattis. </i>
                                    Nulla ac massa at dolor condimentum
                                </p>
                                <footer>
                                    <cite class="blockquote-author">John Doe</cite>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="clients">
                            <div class="clients-title textline">
                                <h5 class="textline-title">Our Happy Clients</h5>
                            </div>
                            <div class="inline-slider">
                                <ul class="clients-slider">
                                    <li><img src="img/technologies/1.png" alt="client 1"/></li>
                                    <li><img src="img/technologies/2.png" alt="client 2"/></li>
                                    <li><img src="img/technologies/3.png" alt="client 3"/></li>
                                    <li><img src="img/technologies/4.png" alt="client 4"/></li>
                                    <li><img src="img/technologies/5.png" alt="client 5"/></li>
                                    <li><img src="img/technologies/6.png" alt="client 6"/></li>
                                    <li><img src="img/technologies/7.png" alt="client 7"/></li>
                                    <li><img src="img/technologies/8.png" alt="client 8"/></li>
                                    <li><img src="img/technologies/9.png" alt="client 9"/></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="footer-clearfix"></div>
    </div>
    <footer class="footer">
        <div class="footer-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <a class="logo" href="/" title="Main page">Modus <span>versus</span></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec .</p>
                        <div class="contact">
                            <span class="inline-block">Phone:</span><a class="inline-block contact-text" href="tel:+18225695896" title="call us">182 2569 5896</a>
                        </div>
                        <div class="contact">
                            <span class="inline-block">E-mail:</span><a class="inline-block contact-text" href="mailto:info@modu.versus" title="email us">info@modu.versus</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="list-title">Company</span>
                                <div class="text-center">
                                    <ul class="list">
                                        <li class="list-item"><a href="#" title="About">About</a></li>
                                        <li class="list-item"><a href="#" title="FAQ">FAQ</a></li>
                                        <li class="list-item"><a href="#" title="Contact">Contact</a></li>
                                        <li class="list-item"><a href="#" title="Terms">Terms</a></li>
                                        <li class="list-item"><a href="#" title="Privacy">Privacy</a></li>
                                        <li class="list-item"><a href="#" title="Testimonials">Testimonials</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <span class="list-title">Community</span>
                                <div class="text-center">
                                    <ul class="list">
                                        <li class="list-item"><a href="#" title="Blog">Blog</a></li>
                                        <li class="list-item"><a href="#" title="Forum">Forum</a></li>
                                        <li class="list-item"><a href="#" title="Support">Support</a></li>
                                        <li class="list-item"><a href="#" title="Newsletter">Newsletter</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <span class="list-title list-title-white"><i>From the </i><strong class="uppercase">Blog</strong></span>
                        <ul class="widget widget-blog">
                           <li class="widget-item">
                               <div class="widget-item__img"></div>
                               <div class="widget-item__description">
                                   <a class="widget-item__description-title" href="#" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                                   <time class="widget-item__description-date" datetime="2013-05-26">26 May 2013</time>
                               </div>
                           </li>
                            <li class="widget-item">
                                <div class="widget-item__img"></div>
                                <div class="widget-item__description">
                                    <a class="widget-item__description-title" href="#" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                                    <time class="widget-item__description-date" datetime="2013-05-26">26 May 2013</time>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p>&copy; <a href="https://github.com/ucozlab/" target="_blank" title="Luzhanovskyi Artem Github profile">Luzhanovskyi Artem</a> 4 MOC / 2016</p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="social text-right">
                            <a href="#facebook" title="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#google-plus" title="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#twitter" title="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#rss" title="rss"><i class="fa fa-rss"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="../node_modules/bxslider/dist/jquery.bxslider.min.js"></script>
    <script src="js/bootstrap_resize.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
