<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Modus versus - main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>

<body>
    <div class="page">
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a class="logo" href="/">Modus <span>versus</span></a>
                    </div>
                    <div class="col-md-9">
                        <nav class="navbar text-right">
                            <button class="collapse navbar-toggler" type="button" data-target="#navbarResponsive"></button>
                            <div class="collapse navbar-toggleable-md" id="navbarResponsive">
                                <ul class="nav">
                                    <li class="nav-item nav-item--active">
                                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Services</a>
                                    </li>
                                    <li class="nav-item nav-item-dropdown">
                                        <a class="nav-link " href="#">Portfolio</a>
                                        <div class="nav-item-dropdown__container">
                                            <ul>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Portfolio 1 column page</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Portfolio 2 column page</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Portfolio 3 column page</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Blog</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Features</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Contacts</a>
                                    </li>
                                    <li class="nav-item">
                                        <form method="post" class="searchform" action="#">
                                            <div class="searchform-input-text">
                                                <input placeholder="search..." type="text" name="q" maxlength="30" size="20">
                                            </div>
                                            <div class="searchform-input-submit">
                                                <input type="submit" name="submit">
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div class="col-xs-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><i class="fa fa-times"></i></div>
        <div class="hFooter"></div>
    </div>
    <footer class="footer">
        <div class="copyright centertext">
            <div class="container">
                <div class="col-xs-12">
                    @ copyright
                </div>
            </div>
        </div>
    </footer>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
</body>

</html>
